 *{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    } 

 body{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(11, 4, 27); 
} 
.container{
  position:absolute;
  
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(10, 8, 8, 0.738);
    border: 8px solid rgba(180, 164, 164, 0.568);
    box-shadow: 0px 0px 40px rgb(181, 169, 147);
    display: flex;
    justify-content:center; 
    align-items: center;
   background-image: url("");
    }

.clock span{
    position: absolute;
   transform: rotate(calc(30deg * var(--i)));
   inset: 10px;
   text-align: center;
   
 

}
.clock span b{
   transform: rotate(calc(-30deg * var(--i)));
   display:inline-block;
    font-size: 20px;
   
   
}
  .clock::before{
   content: '';
    position: absolute;
    width: 8px;
    height: 8px; 
    
    

}   
.hand{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.hand i{
      position: absolute;
      background-color: var(--clr);
      width: 3px;
      height: var(--h);
        border-radius: 8px;   

}